html,body{margin:0;padding:0}.top-bar ul{background:transparent}.top-bar{padding:0}.top-bar .name p{color:black}.text-center{text-align:center}*:not(#TripAdvisorContainer)::-webkit-scrollbar{display:none}

.collection {
  * {
    color: #000;
  }

  a {
    text-decoration: underline;
  }
}
